h1,h2,h3,h4,h5{
	font-family: 'Open Sans', sans-serif;
}
h2{
	size: 24px;
}
h6{
	padding-top: 8px;
	padding-bottom: 5px;
}
a.faqs:hover,
a.faqs:active,
a.faqs{
	color: #2323B0;
	line-height: 1.6;
	font-size: 16px;
}

p.faqs{
	margin-bottom: 0px;
	line-height: 1;
}
h4.faqs,
h5.faqs,
h6.faqs {
	color: rgb(0,40,120);
}
h6.faqs{
	margin-top: 15px;
	margin-bottom: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}
p{
	font-family: 'Lora', serif;
	font-size: 12pt;
}
.specialTable td{
	font-size: 12pt;
	font-family: 'Lora', serif;
}
.specialTable th{
	font-size: 14pt;
	font-family: 'Lora', serif;
}
p.session
{
	font-family: 'Open Sans', sans-serif;
	font-size: 11pt;
	margin-bottom: 4px;

}
p.modalBody
{
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
}
p.tablehead
{
	font-family: 'Open Sans', sans-serif;
	font-size: 13pt;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 0px;
}
b{
	font-weight: 600;
}
.editButton{
	margin-top: 10px;
}
.emailBtn{
	padding-right: 10px;
}
.btn .btn-default{
	padding-top: 2px;
	font-family: 'Open Sans', sans-serif;
	background-color:purple;
}
#content{
	padding-top: 10px;
}
.studentsSection{
	padding-bottom: 10px;
}
.navbar-static-top{
	background: #333F7F; /*#9FA8DA;*/ 
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.jumbotron{
	background: #333F7F; /*#9FA8DA;*/
	color: white;
	margin-top: 0px;
	margin-bottom: 2px;
	padding: 10px;
}
.navbar .nav >li>a{
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-shadow: none;
	font-size: larger;
	text-indent: 10pt;
	display: inline-block;
	width: 100%;
}
.navbar .nav >li>a:hover{
	color: grey;
}
.navbar .nav .active>a{
	color: white;
	background:none;
}
.navbar .nav .active>a:hover{
	color: grey;
	background:none;
}
.submitform{
	padding-bottom: 30px;
}
.panel-group{
	padding-bottom: 10px;
}
.btn-link{
  padding-top: 0px;
  padding-bottom: 0px;
  color: rgb(51, 63, 127);
}
.btn-link:hover,
.btn-link:active{
  padding-top: 0px;
  padding-bottom: 0px;
  color: rgb(91, 103, 167);
}
.btn-logout{
  margin-top: 8px;
}
#student-form{
	width: 200px;
	height: 34px;
	padding-top: 4px;
	padding-bottom: 4px;
}
#inputFirstName_field{
	margin-top: 0px;
	margin-bottom: 0px;
}
dl{
	margin-bottom: 5px;
	margin-top: 0px;
}
dl{
	line-height: 0px;
}
.session-modal-footer{
	padding-top: 620px;
}
.student{
	margin-bottom: 0px;
	margin-top: 10px;
}
.pendingapproval .pull-right{
	width: 10%;
}

.session-left{
	margin-right: 60px;
}

.session-footer{
	margin-top: 600px;
}

#createLearnerPanel span{
	padding-left: 10px;
	color: red;
}

.btn-space{
	margin-right: 10px;
}
.btn-space-sm{
	margin-right: 5px;
}

a.edit-remove{
	color: #34495e;
}
.modal-footer{
	border-top: 1px;
}
.welcome{
	margin-top: 0px;
	margin-bottom: 15px;
}
.new-user{
	margin-left: 35%;
	margin-bottom: 25px;
}
.navPadding{
	margin-top: 20px;
}
div.inline{
	float:left;
}