@(learners: List[Learner])
<html class="no-js">
  <head>
    <title>Coordinator Schedule</title>
    
    <meta charset="UTF-8">
    <meta name="description" content="Admin calendar">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/angular-bootstrap-calendar.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <!--<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap3/css/bootstrap-theme.min.css")">-->
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/calendar.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/flat-ui.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    
  </head>
  <body ng-app="mwl.calendar" ng-cloak>

    <div class="container">
      <div class="jumbotron">
        <h1>Coordinator Schedule</h1>
      </div>
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <ul class="nav navbar-nav pull-left">
            <li><a href="@routes.Application.index()">Home</a></li>
            <li><a href="@routes.CoordinatorController.students()">Students</a></li>
            <li class="active"><a href="@routes.CoordinatorController.viewCoordinatorCalendar()">Schedule</a></li>
          </ul>
          <div class="pull-right">
            <button onclick="location.href='@routes.Application.logout()';" type="button" class="btn btn-block btn-sm btn-danger btn-logout">Log Out</button>
          </div>
        </div>
      </nav>
    </div>

    <div class="container-fluid">

      <div class="row" ng-controller="MainCtrl" id="demo">
        <div class="col-md-8 col-md-offset-2">
          
          <div class="row">
            <h4 class="pull-left">{{ calendarControl.getTitle() }}</h4>
            <select ng-model='learnerDropdown' class="form-control form-inline pull-right" id="student-form">
                @for(learner <- learners) {
                <option value="@learner.email">@learner.firstName @learner.lastName</option>
                }
              </select>
            <div class="pull-right">

              <div class="btn-group">
                <button class="btn btn-inverse" ng-click="calendarControl.prev()">Previous</button>
                <button class="btn btn-default" ng-click="setCalendarToToday()">Today</button>
                <button class="btn btn-inverse" ng-click="calendarControl.next()">Next</button>
              </div>

              <div class="btn-group">
                <label class="btn btn-inverse" ng-model="calendarView" btn-radio="'month'">Month</label>
                <label class="btn btn-inverse" ng-model="calendarView" btn-radio="'week'">Week</label>
              </div>
            </div>

          </div>

          <br>
          <mwl-calendar
            calendar-events="events"
            calendar-view="calendarView"
            calendar-current-day="calendarDay"
            calendar-control="calendarControl"
            calendar-event-click="eventClicked($event)"
            calendar-edit-event-html="'<i class=\'glyphicon glyphicon-plus\'></i>'"
            calendar-edit-event-click="addSessionToLearner($event)"
            calendar-auto-open="true"
            calendar-day-view-starts_at="06:00"
            calendar-day-view-ends_at="22:00"
            ></mwl-calendar>

          
        </div>
      </div>

    </div>

    <script src="@routes.Assets.at("javascripts/angular.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/moment.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/angular-bootstrap-calendar-tpls.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/ui-bootstrap-tpls.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/app.js")"></script>
    <script src="@routes.Assets.at("javascripts/main.js")"></script>
    <script src="@routes.Assets.at("javascripts/mwlcalendar.js")"></script>
    <script src="@routes.Assets.at("javascripts/truncateEventTitle.js")"></script>
    <script src="@routes.Assets.at("javascripts/calendarhelper.js")"></script>
    <script src="@routes.Assets.at("javascripts/moment.js")"></script>
    <script src="@routes.Assets.at("javascripts/mwlcalendaryear.js")"></script>
    <script src="@routes.Assets.at("javascripts/mwlcalendarmonth.js")"></script>
    <script src="@routes.Assets.at("javascripts/mwlcalendarweek.js")"></script>
    <script src="@routes.Assets.at("javascripts/mwlcalendarday.js")"></script>
    <script src="@routes.Assets.at("javascripts/sessionService.js")"></script>
    <script src="@routes.Assets.at("javascripts/learnerService.js")"></script>
    <script src="@routes.Assets.at("javascripts/sessionModel.js")"></script>
  </body>
</html>
