@()
<html class="no-js">
  <head>
    <title>Administrator Schedule</title>

    <meta charset="UTF-8">
    <meta name="description" content="Admin calendar">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/angular-bootstrap-calendar.min.css")">
    <!--<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap3/css/bootstrap-theme.min.css")">-->
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/calendar.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/flat-ui.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.gif")" />
    
  </head>
  <body ng-app="mwl.calendar" ng-cloak>

    <div class="container">
      <div class="jumbotron">
        <h2 class="navPadding">Administrator Schedule</h2>
      </div>
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <ul class="nav navbar-nav pull-left">
                  <li class="active"><a href="@routes.AdminController.viewAllCoordinators()">Coordinators</a></li>
                  <li class="active"><a href="@routes.AdminController.viewLearners()">Students</a></li>
                  <li class="active"><a href="@routes.AdminController.viewCalendar()">Schedule</a></li>
                  <li class="active"><a href="@routes.TemplateController.templates()">Manage Templates</a></li>
                  <li class="active"><a href="@routes.Application.viewSupportPage()">Support</a></li>
              </ul>
              <div class="pull-right">
              <button onclick="location.href='@routes.Application.logout()';" type="button" class="btn btn-block btn-sm btn-danger btn-logout">Log Out</button>
          </div>
        </div>
      </nav>
    </div>


    <div class="container-fluid">

      <div class="row" ng-controller="MainCtrl" id="demo">
        <div class="col-md-8 col-md-offset-2">
          
          <div class="row">
            <h4 class="pull-left"> {{ calendarControl.getTitle() }}</h4>
            <div class="pull-right">

              <div class="btn-group">
                <button class="btn btn-inverse" ng-click="calendarControl.prev()">Previous</button>
                <button class="btn btn-default" ng-click="setCalendarToToday()">Today</button>
                <button class="btn btn-inverse" ng-click="calendarControl.next()">Next</button>
              </div>

              <div class="btn btn-info btn-space" id="event-editor" ng-click="showModalForCreate()">New Half-Day Session</div>
              <div class="btn btn-inverse" id="event-editor" ng-click="showAddTemplateModal()">Add Template to Schedule</div>

              <div class="clearfix"></div>

            </div>
          </div>

          <br>

          <mwl-calendar
            calendar-events="events"
            calendar-view="calendarView"
            calendar-current-day="calendarDay"
            calendar-control="calendarControl"
            calendar-event-click="eventClicked($event)"
            calendar-edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
            calendar-delete-event-html="'<i class=\'glyphicon glyphicon-trash\'></i>'"
            calendar-edit-event-click="showModalForUpdate($event)"
            calendar-delete-event-click="eventDeleted($event)"
            calendar-auto-open="false"
            calendar-day-view-starts_at="07:00"
            calendar-day-view-ends_at="20:00"
            is-admin-view="isAdminView"
            ></mwl-calendar>

          <br>

          <script type="text/ng-template" id="modalContent.html">
            <div class="modal-header">
              <h4 class="modal-title">{{ modalTitle }}</h4>
            </div>
            <form name="eventForm" novalidate>
              <div class="modal-body">
                <div class="col-md-5 pull-left session-left">
                    
                    
                    <p class="tablehead">Location</p>
                    <div class="form-horizontal">
                      <fieldset>
                          <select
                            class="form-control"
                            ng-model="event.title"
                            ng-options="clinic as clinic for clinic in clinicOptions"
                            required>
                          </select>
                      </fieldset>
                    </div>
             
                    
                    <p class="tablehead">Physician on Duty</p>
                    <td style="max-width: 85px">
                      <input type="text" class="form-control" ng-model="event.physician">
                    </td>
                 
                    
                    <p class="tablehead">Date</p>
                    <p class="input-group">
                      <input type="text" class="form-control" readonly datepicker-popup="EEE MMMM d, yyyy"
                             ng-model="event.date" is-open="showDatePicker" close-text="Close"
                             ng-change="updateStartsAtEndsAt(event);" required />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="toggleDatePicker($event)"><i class="glyphicon glyphicon-search"></i></button>
                      </span>
                    </p>

                    
                    <p class="tablehead">Time</p>
                    <div class="radio-inline">
                      <label>
                        <input type="radio" ng-model="event.isAM" ng-value="{{true}}"
                               ng-change="updateStartsAtEndsAt(event);" ng-required="!angular.isDefined(event.isAM)">
                        AM
                      </label>
                    </div>
                    <div class="radio-inline">
                      <label>
                        <input type="radio" ng-model="event.isAM" ng-value="{{false}}"
                               ng-change="updateStartsAtEndsAt(event);" ng-required="!angular.isDefined(event.isAM)">
                        PM
                      </label>
                    </div>
                    <br>
                
                    <div ng-if="isCreateModal">
                    <p class="tablehead">Repeat</p>
                    <div class="radio-inline">
                      <label>
                        <input type="radio" ng-model="event.recurringType" ng-value="REC_TYPE_NONE">
                        None
                        </label>
                      </div>
                    <div class="radio-inline">
                      <label>
                        <input type="radio" ng-model="event.recurringType" ng-value="REC_TYPE_WEEKLY">
                        Weekly
                      </label>
                    </div>
                    <div class="radio-inline">
                      <label>
                        <input type="radio" ng-model="event.recurringType" ng-value="REC_TYPE_MONTHLY">
                        Monthly
                        </label>
                      </div>
                    <br>
              
                    
                    <p class="tablehead" ng-show="isRecurringEvent(event)">Repeat End Date</p>
                    <p class="input-group" ng-show="isRecurringEvent(event)">
                      <input type="text" class="form-control" readonly datepicker-popup="EEE MMMM d, yyyy"
                             ng-model="event.recurringEndDate" is-open="showRecurringEndDatePicker" close-text="Close"
                             min-date="event.date" date-disabled="!isValidRecurringEndDate(date);" ng-required="isRecurringEvent(event)">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="toggleRecurringEndDatePicker($event)"><i class="glyphicon glyphicon-search"></i></button>
                      </span>
                    </p>
                    </div>

                </div>

                <div class="col-md-5 pull-left session-right">
                    <p class="tablehead">Learner Types</p>
                    <div class="checkbox">
                    <label>
                    <input type="checkbox"
                    ng-checked="event.supportsAnyLearnerType"
                    ng-click="toggleAnyLearnerTypeChecked(event)">
                    <b>Allow Any Learner Type</b>
                    </label>
                    </div>

                    <div class="checkbox" ng-repeat="learnerType in allLearnerTypes">
                      <label><input type="checkbox"
                                    value="{{learnerType}}"
                                    ng-checked="learnerTypeIsChecked(event, learnerType) || event.supportsAnyLearnerType"
                                    ng-click="toggleLearnerTypeChecked(event, learnerType)">{{ learnerType }}</label>
                    </div>

                    <button ng-show="!showOtherLearnerInput" ng-click="clickShowOtherLearnerInput();" class="btn btn-sm btn-default btn-info">Add Other Learner Type</button>
                    <input ng-show="showOtherLearnerInput" type="text" class="form-control" ng-model="newOtherLearnerType">
                    <button ng-show="showOtherLearnerInput" ng-disabled="!isValidLearnerType(newOtherLearnerType);" ng-click="clickAddOtherLearnerType();" class="btn btn-sm btn-default btn-info">Add Learner Type</button>
                </div>
                
                <hr>
                <br>
                </div>
              
              <div class="modal-footer">
                <button ng-show="!isCreateModal" class="btn btn-danger pull-left btn-space-sm" ng-click="clickDelete()">Delete Event</button>
                <button ng-show="isCreateModal" ng-disabled="eventForm.$invalid" class="btn btn-inverse pull-left btn-space-sm" ng-click="clickCreate()">Submit</button>
                <button ng-show="!isCreateModal" ng-disabled="eventForm.$invalid" class="btn btn-inverse pull-left btn-space-sm" ng-click="clickUpdate()">Save</button>
                <button class="btn btn-inverse pull-left btn-space-sm" ng-click="clickCancel()">Cancel</button>
              </div>

            </form>

          </script>
          
        </div>
      </div>

    </div>

    <script src="@routes.Assets.at("javascripts/angular.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/moment.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/ui-bootstrap-tpls.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/app.js")"></script>
    <script src="@routes.Assets.at("javascripts/main.js")"></script>
    <script src="@routes.Assets.at("javascripts/mwlcalendar.js")"></script>
    <script src="@routes.Assets.at("javascripts/truncateEventTitle.js")"></script>
    <script src="@routes.Assets.at("javascripts/calendarhelper.js")"></script>
    <script src="@routes.Assets.at("javascripts/moment.js")"></script>
    <script src="@routes.Assets.at("javascripts/mwlcalendaryear.js")"></script>
    <script src="@routes.Assets.at("javascripts/mwlcalendarmonth.js")"></script>
    <script src="@routes.Assets.at("javascripts/mwlcalendarweek.js")"></script>
    <script src="@routes.Assets.at("javascripts/mwlcalendarday.js")"></script>
    <script src="@routes.Assets.at("javascripts/sessionService.js")"></script>
    <script src="@routes.Assets.at("javascripts/learnerService.js")"></script>
    <script src="@routes.Assets.at("javascripts/sessionModel.js")"></script>
    <script src="@routes.Assets.at("javascripts/notificationModalService.js")"></script>
    <script src="@routes.Assets.at("javascripts/addTemplateModalCtrl.js")"></script>
    <script src="@routes.Assets.at("javascripts/scheduleTemplatesService.js")"></script>
    <script src="@routes.Assets.at("javascripts/datepicker.decorator.js")"></script>
  </body>
</html>
