@()
<!DOCTYPE html>
<html>
<head>
	<title>Coordinator Dashboard</title>

	<meta charset="UTF-8">

    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap3/css/bootstrap.min.css")">
    <!--<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap3/css/bootstrap-theme.min.css")">-->
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/flat-ui.css")">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

</head>
<body>
<div class="container">
	<div class="jumbotron">
		<h1>Coordinator Dashboard</h1>
	</div>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<ul class="nav navbar-nav pull-left">
				<li class="active"><a href="@routes.Application.index()">Home</a></li>
            	<li><a href="@routes.Application.students()">Students</a></li>
            	<li><a href="#schedule">Schedule</a></li>
         	</ul>
         	<div class="btn-group pull-right" role="group" >
		  		<button onclick="location.href='@routes.Application.logout()';" type="button" class="btn btn-default">Log Out</button>
			</div>
 		</div>
	</nav>
	<div id = "content">
		<div class="col-xs-6 col-md-4 panel panel-default">
			<h2>Latest News</h2>
			<!--Andrew this section is what I was saying to use Angular type stuff with to create x number of news evets-->
			<div class="panel-body">
				<div class = "newsevent">
					<div class = "newsheadline">
						<h4>News Event Headline 1</h4>
					</div>
					<div class ="newsbody">
						<p>This will contain the text about the event</p>
					</div>
				</div>
				<div class = "newsevent">
					<div class = "newsheadline">
						<h4>News Event Headline 2</h4>
					</div>
					<div class ="newsbody">
						<p>This will contain the text about the event</p>
					</div>
				</div>
  			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8 panel panel-default">
			<h2>Welcome</h2>
			<p>Welcome to the Emory Department of Dermatology Rotation Scheduling. Please use this website to register learners from your department into available Emory dermatology clinics.</p>
			<p>Three clinical sites are available -- Grady clinic, VA clinic and the Emory Outpatient Clinic (at 1525 Clifton Road, unless specified otherwise).  Please note that Grady clinic is never available on Tuesday mornings, Thursday all day or Friday afternoons.  Please also note that VA clinic is never available on Thursday mornings.</p>
			<p>Please note that from June to November is our high season for resident applicants. As such, we have no availability for other learners during that time.</p>
		</div>
	</div>
</div>
</body>
</html>