@(unapprovedCoordinators: List[UnapprovedUser], approvedCoordinators: List[User])

@import helper._

<!DOCTYPE html>
<html>
<head>
	<title>Administrator: Coordinators</title>

	<meta charset="UTF-8">

	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap3/css/bootstrap.min.css")">
    <!--<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap3/css/bootstrap-theme.min.css")">-->
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/flat-ui.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
	<!--<script type="text/javascript" src="components/bootstrap3/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="components/jquery/jquery.min.js"></script>-->
	<link rel="shortcut icon" href="@routes.Assets.at("images/favicon.gif")" />

</head>
<body>
<div class="container">
	<div class="jumbotron">
		<h1>External Residency Coordinators</h1>	
	</div>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<ul class="nav navbar-nav pull-left">
                <li class="active"><a href="@routes.AdminController.viewAllCoordinators()">Coordinators</a></li>
                <li class="active"><a href="@routes.AdminController.viewLearners()">Students</a></li>
                <li class="active"><a href="@routes.AdminController.viewCalendar()">Schedule</a></li>
                <li class="active"><a href="@routes.TemplateController.templates()">Manage Templates</a></li>
                <li class="active"><a href="@routes.Application.viewSupportPage()">Support</a></li>
         	</ul>
         	<div class="pull-right">
		  		<button onclick="location.href='@routes.Application.logout()';" type="button" class="btn btn-block btn-sm btn-danger btn-logout">Log Out</button>
			</div>
 		</div>
	</nav>
</div>

<div class="container">
	<h4>External Residency Coordinators Requesting Access</h4>
	
    <div class="panel panel-default">
	@for((unapproved, index) <- unapprovedCoordinators.zipWithIndex) {
	   <div class = "panel-body">
            <div class = "pendingapproval">
                <div class = "pull-left">
                    <h6>@unapproved.firstName @unapproved.lastName</h6>
					<p>E-mail: @unapproved.email</p>
					<p>Phone number: @unapproved.phoneNumber</p>
					<p>Department: @unapproved.department</p>
                </div>
                <div class="pull-right">
                @form(routes.AdminController.approveUnapprovedUser(unapproved.email)) {
                    <button class="btn btn-lg btn-primary btn-block btn-sm btn-inverse" type="submit" data-toggle="modal" data-target="#approvedModal" data-unapproved-index="@index">
						@if(unapproved.token == null || unapproved.token == "") {
							Approve
						} else {
							Re-approve
						}
					</button>
                }
                
                @form(routes.AdminController.removeUnapprovedUser(unapproved.email)) {
                    <button class="btn btn-lg btn-primary btn-block btn-sm btn-danger" type="submit">Deny</button>
                }
                </div>
            </div>
        </div>
	}
	</div>
</div>

<div class="container">
	<h4>Residency Coordinators with Access to Schedule</h4>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	
	@for((coord, index) <- approvedCoordinators.zipWithIndex) {
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="@("heading" + index)">
				<h4 class="panel-title">
					<a class="@(if (index > 0) "collapsed" else "")" data-toggle="collapse" data-parent="#accordion" href="#@("collapse" + index)" aria-expanded="@(if (index == 0) "true" else "false")" aria-controls="@("collapse" + index)">
						@coord.firstName @coord.lastName
					</a>
				</h4>
			</div>
			<div id="@("collapse" + index)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@("heading" + index)">
				<div class="panel-body">
					<h6>Name:
						<span class="pull-right">
						@form(routes.Application.sendNewPasswordToUser(coord.uuid)) {
							<button class="btn btn-lg btn-primary btn-block btn-sm btn-inverse approveButton" type="submit" data-toggle="modal" data-target="#passwordResetModal">Reset Password</button>
						}
						</span></h6>  @coord.firstName @coord.lastName
					<h6>E-mail:</h6> @coord.email
					<h6>Phone number:</h6> @coord.phoneNumber
					<h6>Department:</h6> @coord.department
				</div>
			</div>
		</div>
	}
	
	</div>

	<div id="approvedModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				  <h4 class="modal-title">Coordinator Approved!</h4>
				</div>
				<div class="modal-body">
				  <p class="modalBody">You have approved this coordinator. They have been emailed instructions so that they can complete their registration.</p>
				</div>
				<div class="modal-footer">
					<button class="btn btn-inverse pull-right" data-dismiss="modal">Ok</button>
				</div>
			</div>
		</div>
    </div>

	<div id="passwordResetModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Coordinator Password Reset</h4>
				</div>
				<div class="modal-body">
					<p class="modalBody">You have reset this coordinator's password. They have been emailed instructions so that they can setup their new password.</p>
				</div>
				<div class="modal-footer">
					<button class="btn btn-inverse pull-right" data-dismiss="modal">Ok</button>
				</div>
			</div>
		</div>
	</div>


</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script>
(function () {
	updatePendingApprovalButtonWidths();

	$('#approvedModal' ).on('show.bs.modal', function (evt) {
		var index = $(evt.relatedTarget ).data('unapproved-index');
		$('.pendingapproval .approvalButton' ).get(index ).innerText = 'Re-approve';
		updatePendingApprovalButtonWidths();
	});

	/* we don't need this function if we use a set width for pendingapproval buttons */
	function updatePendingApprovalButtonWidths() {
		var maxWidth = -1;
		var approveAndDenyButtons = $('.pendingapproval button');
		approveAndDenyButtons.each(function () {
			var width = $(this ).width();
			if (width >= maxWidth) {
				maxWidth = width;
			}
		});
		approveAndDenyButtons.each(function () {
			$(this ).width(maxWidth);
		})
	}
})();
</script>
</body>
</html>
