@()
<!DOCTYPE html>
<html>
<head>
	<title>Coordinator Dashboard</title>

	<meta charset="UTF-8">

    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap3/css/bootstrap.min.css")">
    <!--<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap3/css/bootstrap-theme.min.css")">-->
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/flat-ui.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="@routes.Assets.at("images/favicon.gif")" />

</head>
<body>
<div class="container">
	<div class="jumbotron">
		<h2>Coordinator Dashboard</h2>
	</div>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<ul class="nav navbar-nav pull-left">
				<li><a href="@routes.Application.index()">Home</a></li>
            	<li><a href="@routes.CoordinatorController.students()">Students</a></li>
            	<li><a href="@routes.CoordinatorController.viewCoordinatorCalendar()">Schedule</a></li>
                <li><a href="@routes.Application.viewCoordinatorSupport()">Support</a></li>
         	</ul>
         	<div class="btn-group pull-right" role="group" >
		  		<button onclick="location.href='@routes.Application.logout()';" type="button" class="btn btn-block btn-sm btn-danger btn-logout">Log Out</button>
			</div>
 		</div>
	</nav>
	<div id = "content">
		<div class="container-fluid">
			<h2 class="welcome">Welcome</h2>
			<p>Welcome to the Emory Department of Dermatology Rotation Scheduling. Please use this website to register learners from your department into available Emory dermatology clinics.  Please see the Support page if this is your first time using this site.</p>
			<p>Three clinical sites are available -- Grady clinic, VA clinic and the Emory Outpatient Clinic (at 1525 Clifton Road, unless specified otherwise).  Please note that Grady clinic is never available on Tuesday mornings, Thursday all day or Friday afternoons.  Please also note that VA clinic is never available on Thursday mornings.</p>
			<p>Please note that from June to November is our high season for resident applicants. As such, we have no availability for other learners during that time.</p>
			<p>Reminder: You need to click “Email schedule” (on your student list page) for your registered rotators prior to their rotation in order for them to each receive the schedule of clinics they are expected to attend during their rotation.</p>
			<p>Start Times by Clinic Site</p>
			<table style="width:900px" class="table table-bordered specialTable">
				  <tr>
				    <th>Clinic Site</th>
				    <th>Floor</th> 
				    <th>Start Time</th>
				  </tr>
				  <tr>
				    <td>The Emory Clinic (TEC) <br>1525 Clifton Road</td>
				    <td>3rd Floor</td> 
				    <td>8:20am* &amp; 1:00pm
					<br>*Except Thursday mornings start at 10am</td>
				  </tr>
				  <tr>
				    <td>Grady Clinic</td>
				    <td>1st Floor (A/B Tower)</td> 
				    <td>8:15am &amp; 1:15pm</td>
				  </tr>
				  <tr>
				    <td>VA Clinic</td>
				    <td>1st Floor (medicine subspecialties clinic area)</td> 
				    <td>8:30am* &amp; 1:30pm
					<br>*Except Tuesday mornings start at 9:30am</td>
				  </tr>
			</table>

			<button onclick="location.href='@routes.Application.viewCoordinatorSupport()';" type="button" class="btn btn-lg btn-info new-user">New User? Please read our user manual</button>
		</div>
	</div>
</div>
</body>
</html>