@(loginF0rm: play.data.Form[Application.Login])

@import helper._

<html>
<head>
    <title>Dermatology Schedule Login</title>

    <meta name="description" content="Login form for Emory's Dermatology Scheduler">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap3/css/bootstrap.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/login-form-styles.css")">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:200,300,400' rel='stylesheet' type='text/css'> 
    <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.gif")" />
</head>

<body>
    <img src="@routes.Assets.at("images/blue-polygon.jpg")" id="bg" alt="">

    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-offset-3 pull-left">
                <div class="account-wall">
                    <h1 class="text-center login-title"></h1>
                    <img class="profile-img pull-left" src="@routes.Assets.at("images/Emory_logo.png")" alt="">
                    <div class="header-text">
                        <h2 class="text-center">Welcome to the Emory</h2>
                        <h2 class="text-center">Department of Dermatology</h2>
                        <h2 class="text-center">Rotation Request Form</h2>
                    </div>
                    <br>
                    <div class="form-signin">
                    @form(routes.Application.authenticate) {
                        @inputText(loginF0rm("email"), 
                            'type -> "text", 
                            'class -> "form-control", 
                            'placeholder -> "Email",
                            '_label -> null,
                            '_showConstraints -> false)
                        @inputText(loginF0rm("password"),
                            'type -> "password",
                            'class -> "form-control",
                            'placeholder -> "Password",
                            '_label -> null,
                            '_showConstraints -> false)
                        <input role="button" class="btn btn-lg btn-primary btn-block" type="submit" value="Login"></input>
                        
                        @if(loginF0rm.hasGlobalErrors()) {
                            <p class="text-center"><font color="red">@loginF0rm.globalError.message</font></p>
                        }
                    }
                    </div>

                    <a href="@routes.Application.forgotPassword()" class="new-account">Forgot your password?</a>
                    <a href="@routes.Application.signup()" class="new-account">Don't have an account? Sign Up.</a>

                </div>
                
            </div>
        </div>
    </div>

</body>