@(loginForm: play.data.Form[Application.Login])

@import helper._

<html>
    <head>
        <title>Emory Dermatology</title>
    </head>
    <body>
       
        @form(routes.Application.authenticate) {
        <h1>Sign in</h1>

        @inputText(loginForm("email"))
	    @inputText(loginForm("password"))
	    
	    <input type="submit" value="Login">
		   @if(loginForm.hasGlobalErrors) {
		    <p class="error">
		        @loginForm.globalError.message
		    </p>
	        }
        }
    </body>
</html>