@(templates: java.util.List[models.ScheduleTemplate], templateForm: play.data.Form[TemplateController.PreTemplate], sessionForm: play.data.Form[TemplateController.PreSession], scheduleTitle: String = "", learnerTypeOptions: List[String])

@import helper._
@import java.math.BigInteger; var panelNum = 1

<!DOCTYPE html>
<html>
<head>
	<title>Admin: Templates</title>

	<meta charset="UTF-8">

	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap3/css/bootstrap.min.css")">
    <!--<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap3/css/bootstrap-theme.min.css")">-->
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/flat-ui.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
	<!--<script type="text/javascript" src="components/bootstrap3/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="components/jquery/jquery.min.js"></script>-->
  <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.gif")" />
  
</head>
<body>

<!-- Jumbotron and nav bar -->
<div class="container">
	<div class="jumbotron">
		<h1>Manage Templates</h1>	
	</div>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<ul class="nav navbar-nav pull-left">
				<li class="active"><a href="@routes.Application.index()">Home</a></li>
                <li class="active"><a href="@routes.AdminController.viewAllCoordinators()">Coordinators</a></li>
                <li class="active"><a href="@routes.AdminController.viewLearners()">Students</a></li>
                <li class="active"><a href="@routes.AdminController.viewCalendar()">Schedule</a></li>
                <li class="active"><a href="@routes.TemplateController.templates()">Manage Templates</a></li>
                <li class="active"><a href="@routes.Application.viewSupportPage()">Support</a></li>
         	</ul>
         	<div class="pull-right">
		  		<button onclick="location.href='@routes.Application.logout()';" type="button" class="btn btn-block btn-sm btn-danger btn-logout">Log Out</button>
			</div>
 		</div>
	</nav>
</div>

<!-- Templates list -->
<!--Somehow dynamically create these based on how many templates are listed in the database-->
<div class="templates container">
	<h4>My Templates</h4>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		
		@for(template <- templates) {
		  <div class="panel panel-default">
		  	<div class="panel-heading" role="tab" id="heading@panelNum">
		  		<h4 class="panel-title">
		  			<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse@panelNum" aria-expanded="false" aria-controls="collapse@panelNum">
		  				@template.title
		  			</a>
		  		</h4>
		    </div>
		    <div id="collapse@panelNum" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading@panelNum">
		    	<div class="panel-body">
		    		<div class = "pull-left">

		    			<!-- CREATE LIST OF SESSIONS HERE -->
		    			<h6>Sessions:</h6>
		    			@for(s <- template.sessions) {
		    				<p class="session">@s.location, @s.physician, @s.week, @s.day, @s.isAM</p>
		    			}
					</div>
					<div class="pull-right">
				  		<button type="button" class="btn btn-block btn-sm btn-warning" data-toggle="modal" data-target="#addSessionModal" onclick = "setPath('@template.title')">Add Session</button>
					</div>
		    	</div>
		    </div>
		</div>
		@(panelNum += 1)
		}
	</div>
	<a class="btn btn-inverse" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
		Add Template
	</a>


  <!-- Error messages -->
  @if(templateForm.hasGlobalErrors()) {
    <p class="text-center"><font color="red" face="Open Sans">@templateForm.globalError.message</font></p>
  }
  @if(templateForm.hasErrors()) {
    @for(error <- templateForm("title").errors) {
      <p class="text-center"><font color="red" face="Open Sans">@error.message</font></p>
    }
  }


	<div class="collapse submitform" id="collapseExample">
		@form(routes.TemplateController.createScheduleTemplate) {
  		  @inputText(templateForm("title"), 
	      'type -> "text",
	      'class -> "form-control", 
	      'id -> "inputTemplateName",
	      '_label -> "Title",
	      '_showConstraints -> false)
        @select(templateForm("learnerType"),
        options(learnerTypeOptions), 
        'type -> "text",
        'class -> "form-control", 
        'id -> "inputTemplateLearner",
        '_label -> "Learner Type",
        '_showConstraints -> false)
          <input role="button" class="btn btn-inverse" type="submit" value="Submit"></input>
          
		}
	</div>

  </div>

  <div id="addSessionModal" class="modal fade">
    <div class="modal-dialog">
       <!-- <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Create New Session</h4>
        </div>
        <form name="eventForm" novalidate>
          <div class="modal-body">
             <div class="col-md-5 pull-left session-left">
               <p class="tablehead">Location</p>
                    <div class="form-horizontal">
                      <fieldset>
                          <select
                            class="form-control"
                            ng-model="event.title"
                            ng-options="clinic as clinic for clinic in clinicOptions"
                            required>
                          </select>
                      </fieldset>
                    </div>
             
                    
                    <p class="tablehead">Physician on Duty</p>
                    <td style="max-width: 85px">
                      <input type="text" class="form-control" ng-model="event.physician">
                    </td>
                 
                    <p class="tablehead">Time</p>
                    <div class="radio-inline">
                      <label>
                        <input type="radio" ng-model="event.isAM" ng-value="{{true}}"
                               ng-change="updateStartsAtEndsAt(event);" ng-required="!angular.isDefined(event.isAM)">
                        AM
                      </label>
                    </div>
                    <div class="radio-inline">
                      <label>
                        <input type="radio" ng-model="event.isAM" ng-value="{{false}}"
                               ng-change="updateStartsAtEndsAt(event);" ng-required="!angular.isDefined(event.isAM)">
                        PM
                      </label>
                    </div>
                    <br>
              
                </div>
                

                <div class="col-md-5 pull-left session-right">
                    <p class="tablehead">Learner Types</p>
           
                    <div class="checkbox" ng-repeat="learnerType in allLearnerTypes">
                      <label><input type="checkbox"
                                    value="{{learnerType}}"
                                    ng-checked="learnerTypeIsChecked(event, learnerType)"
                                    ng-click="toggleLearnerTypeChecked(event, learnerType)">{{ learnerType }}</label>
                    </div>
                </div>
                

              <div class="modal-footer session-modal-footer">
                <button ng-show="!isCreateModal" class="btn btn-danger pull-left" ng-click="clickDelete()">Delete Event</button>
                <button class="btn btn-inverse pull-right" ng-click="clickCancel()">Cancel</button>
                <button ng-show="isCreateModal" ng-disabled="eventForm.$invalid" class="btn btn-inverse pull-right" ng-click="clickCreate()">Submit</button>
                <button ng-show="!isCreateModal" ng-disabled="eventForm.$invalid" class="btn btn-inverse pull-right" ng-click="clickUpdate()">Save</button>
              </div>
            </form>
          </div>
      </div>-->


     <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create New Session</h4>
        </div>
        <div class="modal-body">
          @if(sessionForm.hasGlobalErrors()){
            <p class="text-center formGlobalError"><font color = "red">@sessionForm.globalError.message</font></p>
          }
          @form(routes.TemplateController.createSessionTemplate("")) {
            @select(sessionForm("location"),
            options = Seq("emory"->"Emory Clinic", "grady"->"Grady Clinic", "va" -> "VA Clinic", "telederm" -> "VA Telederm", "dermpath" -> "Emory Dermpath"), 
            'type -> "text", 
            'id -> "inputSessionLocation",
            'class -> "form-control", 
            '_label -> "Location",
            '_showConstraints -> false)
            @inputText(sessionForm("physician"), 
            'type -> "text",
            'class -> "form-control", 
            'id -> "inputSessionPhysician",
            '_label -> "Physician on Duty",
            '_showConstraints -> false)
            @inputText(sessionForm("week"), 
            'type -> "number",
            'class -> "form-control", 
            'id -> "inputSessionWeek",
            '_label -> "Week of Rotation",
            '_showConstraints -> false)
            @inputText(sessionForm("day"), 
            'type -> "number",
            'class -> "form-control", 
            'id -> "inputSessionDay",
            '_label -> "Day of the Week (1 = Monday, 2 = Tuesday, etc.)",
            '_showConstraints -> false)
            @inputRadioGroup(sessionForm("isAM"), 
            options = Seq("True"->"AM", "False"->"PM"),
            '_label -> "Time of Day",
            'id -> "inputSessionAM",
            '_showConstraints -> false)
          <button id="cancelButton" class="btn btn-inverse pull-right" data-dismiss="modal">Cancel</button>
          <input role="button" class="btn btn-inverse pull-right" type="submit" value="Submit"></input> 
          }
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script type="text/javascript">

    /* So that the user doesn't have to scroll to view the create form */
    $('.submitform' ).on('shown.bs.collapse',function () {
      scrollTo(this);
      setCursorAtFirstInputOf(this);
    });

    function scrollTo(elem) {
      $('html,body' ).animate({
      scrollTop: $(elem ).offset( ).top
      }, 500);
    }

    function setCursorAtFirstInputOf(elem) {
      $('input', elem ).get(0 ).focus();
    }

    var addSessionModalElement = $('#addSessionModal');

    addSessionModalElement.on('hidden.bs.modal', function () {
      /* Don't use form.reset(), because on an error,
         the form is initially filled,
         so reset() will send it to a filled state! */
      clearForm();
    });

    function clearForm() {

      $('.formGlobalError', addSessionModalElement ).remove();

      var form = $("form", addSessionModalElement).get(0);

      $(':input', form).each(function() {
        var type = this.type;
        var tag = this.tagName.toLowerCase();
        if (type == 'text' || type == 'password' || type == 'number')
          this.value = "";
        else if (type == 'checkbox' || type == 'radio')
          this.checked = false;
        else if (tag == 'select')
          this.selectedIndex = -1;
      });
    }

    function setPath(scheduleID){
      $("form", addSessionModalElement).attr('action', @routes.TemplateController.createSessionTemplate("") + scheduleID)
    }

    @if(sessionForm.hasErrors || sessionForm.hasGlobalErrors){
      setPath('@scheduleTitle');
      addSessionModalElement.modal('show');
    }
  </script>
</body>
</html>