@(templates: java.util.List[models.ScheduleTemplate], templateForm: play.data.Form[TemplateController.PreTemplate], sessionForm: play.data.Form[TemplateController.PreSession], scheduleTitle: String = "", learnerTypeOptions: List[String])

@import helper._
@import java.math.BigInteger; var panelNum = 1

<!DOCTYPE html>
<html>
<head>
	<title>Admin: Templates</title>

	<meta charset="UTF-8">

	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap3/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/flat-ui.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

  <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.gif")" />
  
</head>
<body>

<!-- Jumbotron and nav bar -->
<div class="container">
	<div class="jumbotron">
		<h1>Manage Templates</h1>	
	</div>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<ul class="nav navbar-nav pull-left">
                <li class="active"><a href="@routes.AdminController.viewAllCoordinators()">Coordinators</a></li>
                <li class="active"><a href="@routes.AdminController.viewLearners()">Students</a></li>
                <li class="active"><a href="@routes.AdminController.viewCalendar()">Schedule</a></li>
                <li class="active"><a href="@routes.TemplateController.templates()">Manage Templates</a></li>
                <li class="active"><a href="@routes.Application.viewSupportPage()">Support</a></li>
         	</ul>
         	<div class="pull-right">
		  		<button onclick="location.href='@routes.Application.logout()';" type="button" class="btn btn-block btn-sm btn-danger btn-logout">Log Out</button>
			</div>
 		</div>
	</nav>
</div>

<!-- Templates list -->
<!--Somehow dynamically create these based on how many templates are listed in the database-->
<div class="templates container">
	<h4>My Templates</h4>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		
		@for(template <- templates) {
		  <div class="panel panel-default">
		  	<div class="panel-heading" role="tab" id="heading@panelNum">
		  		<h4 class="panel-title">
		  			<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse@panelNum" aria-expanded="false" aria-controls="collapse@panelNum">
		  				@template.title
		  			</a>
		  		</h4>
		    </div>
		    <div id="collapse@panelNum" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading@panelNum">
		    	<div class="panel-body">
		    		<div class = "pull-left">
              <div class="inline"><h6>Learner Type: &nbsp;</h6></div>
              <div class="inline"><h6>@template.learnerType</h6></div>
              <br>
              <br>

		    			<h6>Sessions:</h6>
              <table class="table table-bordered">
                <tr>
                  <th>Location</th>
                  <th>Physician on Duty</th> 
                  <th>Week</th>
                  <th>Day</th>
                  <th>Time</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              
                @for(s <- template.sessions) {
                            
                  <tr class="sessionInfo" data-session-id="@s.id">
                    <td class="sessionLocation">@s.location</td>
                    <td class="sessionPhysician">@s.physician</td> 
                    <td class="sessionWeek">@s.week</td>
                    <td class="sessionDay">@s.day</td>
                    @if(s.isAM) {
                    <td class="sessionAM">AM</td>
                    }else{
                    <td class="sessionAM">PM</td>
                    }
                    <td><a href="" class="edit-remove editButton" data-toggle="modal" data-target=".editForm"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
                    <td><a href="" class="edit-remove" onclick="deleteSession('@s.id')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                  </tr>
                  }
              </table>
					</div>
					<div class="pull-right">
				  		<button type="button" class="btn btn-block btn-sm btn-warning" data-toggle="modal" data-target="#addSessionModal" onclick = "setPath('@template.uuid')">Add Session</button>
					</div>
		    	</div>
		    </div>
		</div>
		@(panelNum += 1)
		}
	</div>
	<a class="btn btn-inverse" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
		Add Template
	</a>


  <!-- Error messages -->
  @if(templateForm.hasGlobalErrors()) {
    <p class="text-center"><font color="red" face="Open Sans">@templateForm.globalError.message</font></p>
  }
  @if(templateForm.hasErrors()) {
    @for(error <- templateForm("title").errors) {
      <p class="text-center"><font color="red" face="Open Sans">@error.message</font></p>
    }
  }


	<div class="collapse submitform" id="collapseExample">
		@form(routes.TemplateController.createScheduleTemplate) {
  		  @inputText(templateForm("title"), 
	      'type -> "text",
	      'class -> "form-control", 
	      'id -> "inputTemplateName",
	      '_label -> "Title",
	      '_showConstraints -> false)
        @select(templateForm("learnerType"),
        options(learnerTypeOptions), 
        'type -> "text",
        'class -> "form-control", 
        'id -> "inputTemplateLearner",
        '_label -> "Learner Type",
        '_showConstraints -> false)
          <input role="button" class="btn btn-inverse" type="submit" value="Submit"></input>
          
		}
	</div>

</div>

  </div>

  <div id="addSessionModal" class="modal fade">
    <div class="modal-dialog">
     <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create New Session</h4>
        </div>
        <div class="modal-body">
          @if(sessionForm.hasGlobalErrors()){
            <p class="text-center formGlobalError"><font color = "red">@sessionForm.globalError.message</font></p>
          }
          @form(routes.TemplateController.createSessionTemplate("")) {
            @select(sessionForm("location"),
            options = Seq("Emory Clinic"->"Emory Clinic", "Grady Clinic"->"Grady Clinic", "VA Clinic" -> "VA Clinic", "VA Telederm" -> "VA Telederm", "Emory Dermpath" -> "Emory Dermpath"), 
            'type -> "text", 
            'id -> "inputSessionLocation",
            'class -> "form-control", 
            '_label -> "Location",
            '_showConstraints -> false)
            @inputText(sessionForm("physician"), 
            'type -> "text",
            'class -> "form-control", 
            'id -> "inputSessionPhysician",
            '_label -> "Physician on Duty",
            '_showConstraints -> false)
            @inputText(sessionForm("week"), 
            'type -> "number",
            'class -> "form-control", 
            'id -> "inputSessionWeek",
            '_label -> "Week of Rotation",
            '_showConstraints -> false)
            @inputText(sessionForm("day"), 
            'type -> "number",
            'class -> "form-control", 
            'id -> "inputSessionDay",
            '_label -> "Day of the Week (1 = Monday, 2 = Tuesday, etc.)",
            '_showConstraints -> false)
            @inputRadioGroup(sessionForm("isAM"), 
            options = Seq("true"->"AM   ", "false"->"PM"),
            '_label -> "Time of Day",
            'id -> "inputSessionAM",
            '_showConstraints -> false)
          <button id="cancelButton" class="btn btn-inverse pull-right" data-dismiss="modal">Cancel</button>
          <input role="button" class="btn btn-inverse pull-right btn-space" type="submit" value="Submit"></input> 
          }
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>


  <div class="modal fade editForm" style="display: none">
    <div class="modal-dialog">
     <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Session</h4>
        </div>
        <div class="modal-body">
          @if(sessionForm.hasGlobalErrors()){
            <p class="text-center formGlobalError"><font color = "red">@sessionForm.globalError.message</font></p>
          }
            <div class="inputSessionLocation">Location
              <select type="text" class="form-control" name="location">
                <option value="Emory Clinic">Emory Clinic</option>
                <option value="Grady Clinic">Grady Clinic</option>
                <option value="VA Clinic">Va Clinic</option>
                <option value="VA Telederm">VA Telederm</option>
                <option value="Emory Dermpath">Emory Dermpath</option>
              </select>
            </div>
            <br>
            <div class="inputSessionPhysician">Physician on Duty
              <input type="text" class="form-control" name="physician">
            </div>
            <br>
            <div class="inputSessionWeek">Week of Rotation
              <input type="number" class="form-control" name="week">
            </div>  
            <br>    
            <div class="inputSessionDay">Day of the Week (1 = Monday, 2 = Tuesday, etc.)
              <input type="number" class="form-control" name="day">
            </div>                  
            <br>
            <div class="inputSessionAM">Time of Day:
              <br>
              <input type="radio" name="isAM" value="true">AM
              <input type="radio" name="isAM" value="false">PM
            </div>      
            <button type="button" class="btn btn-sm btn-inverse saveButton">Save</button>
            <button type="button" class="btn btn-sm btn-inverse" onclick="$('.editForm').modal('toggle')">Cancel</button>
            <span class="pull-right editFormErrorMessage"></span>
          </div>
        </div>
      </div>
    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script type="text/javascript">

    /* So that the user doesn't have to scroll to view the create form */
    $('.submitform' ).on('shown.bs.collapse',function () {
      scrollTo(this);
      setCursorAtFirstInputOf(this);
    });

    function scrollTo(elem) {
      $('html,body' ).animate({
      scrollTop: $(elem ).offset( ).top
      }, 500);
    }

    function setCursorAtFirstInputOf(elem) {
      $('input', elem ).get(0 ).focus();
    }

    var addSessionModalElement = $('#addSessionModal');
    var editSessionModalElement = $('#editSessionModal');

    addSessionModalElement.on('hidden.bs.modal', function () {
      /* Don't use form.reset(), because on an error,
         the form is initially filled,
         so reset() will send it to a filled state! */
      clearForm();
    });

    function clearForm() {

      $('.formGlobalError', addSessionModalElement ).remove();

      var form = $("form", addSessionModalElement).get(0);

      $(':input', form).each(function() {
        var type = this.type;
        var tag = this.tagName.toLowerCase();
        if (type == 'text' || type == 'password' || type == 'number')
          this.value = "";
        else if (type == 'checkbox' || type == 'radio')
          this.checked = false;
        else if (tag == 'select')
          this.selectedIndex = -1;
      });
    }

    function deleteSession(sessionID){
      $.ajax({
        url: '@routes.TemplateController.deleteSessionFromSchedule("")' + sessionID,
        type: 'DELETE',
        success: function(result) {
          url: '@routes.TemplateController.templates()'
        }
      });
      
    }

    function setPath(scheduleID){
      $("form", addSessionModalElement).attr('action', @routes.TemplateController.createSessionTemplate("") + scheduleID)
    }

    @if(sessionForm.hasErrors || sessionForm.hasGlobalErrors){
      setPath('@scheduleTitle');
      addSessionModalElement.modal('show');
    }

  var editIndex;

  $('.editButton').each(function (index, button) {
    $(button).click(function () {
      populateEditFormWithCurrentValues(index);
      editIndex=index;
     // showEditForm(index);
    });
  });

  $('.saveButton' ).each(function (index, button) {
    $(button ).click(function () {
      sendUpdateSessionRequest(editIndex);
    });
  });

  function sendUpdateSessionRequest(index) {
    var info = $('.sessionInfo' ).get(index);
    var sessionID = $(info).data("session-id");
    sessionJson = extractSessionValuesFromForm();
    
    jQuery.ajax({
      type: 'PUT',
      contentType: 'application/json',
      processData: false,
      data: JSON.stringify(sessionJson),
      dataType: 'json',
      url: sessionRouteForUpdate(index),
      success: function (data) {
        $('.editForm').modal('toggle');
        updateSessionInfoWithValues(index, data);
      },
      error: function (jqXHR, textStatus, errorThrown) {
        displayFormError(index, jqXHR.responseText);
      }
    });
  }

  function updateSessionInfoWithValues(index, sessionValues) {
    var infoElem = $('.sessionInfo' ).get(index);

    $('.sessionLocation', infoElem ).text(sessionValues.location);
    $('.sessionPhysician', infoElem ).text(sessionValues.physician);
    $('.sessionWeek', infoElem ).text(sessionValues.week);
    $('.sessionDay', infoElem ).text(sessionValues.day);
    if(sessionValues.isAM){
      $('.sessionAM', infoElem ).text("AM");
    }
    else 
      $('.sessionAM', infoElem ).text("PM");
  }

  function sessionRouteForUpdate(index) {
    var info = $('.sessionInfo' ).get(index);
    var sessionID = $(info ).data('session-id');
    return "@routes.TemplateController.updateSessionTemplate("")" + encodeURIComponent(sessionID);
  }

 function populateEditFormWithCurrentValues(index) {
    var formElem = $('.editForm' ).get();
    var currentValues = extractSessionValuesFromInfo(index);

    var inputElems = $('input', formElem );
    var selectElems = $('select', formElem); 
    
    $(selectElems[0] ).val(currentValues['location']);

    $(inputElems[0] ).val(currentValues['physician']);
    $(inputElems[1] ).val(currentValues['week']);
    $(inputElems[2] ).val(currentValues['day']);

   if(currentValues['isAM'] == "AM"){
       $(inputElems[3] ).val("true");
       $(inputElems[3] ).prop("checked", true);
    }
    else{
      $(inputElems[4] ).val("false");
      $(inputElems[4] ).prop("checked", true);

    }
  }

  function extractSessionValuesFromInfo(index) {
    var infoElem = $('.sessionInfo' ).get(index);
    var sessionValues = {};
    
    sessionValues.location = $('.sessionLocation', infoElem).text();
    sessionValues.physician = $('.sessionPhysician', infoElem).text();
    sessionValues.week = $('.sessionWeek', infoElem).text();
    sessionValues.day = $('.sessionDay', infoElem).text();
    sessionValues.isAM = $('.sessionAM', infoElem).text();

    return sessionValues;
  }

  function extractSessionValuesFromForm() {
    var formElem = $('.editForm' ).get(0);
    var sessionValues = { };
    var inputElems = $('input', formElem );
    var selectElems = $('select', formElem );

    sessionValues.location = $(selectElems[0] ).val();
    sessionValues.physician = $(inputElems[0] ).val();
    sessionValues.week = $(inputElems[1] ).val();
    sessionValues.day = $(inputElems[2] ).val();
    if($(inputElems[3] ).is(':checked')){
      sessionValues.isAM = $(inputElems[3] ).val();
    }
    else
      sessionValues.isAM = $(inputElems[4] ).val();

    return sessionValues;
  }

  function displayFormError(index, message) {
    var elem = $('.editFormErrorMessage' ).get(index);
    $(elem ).text(message);
  }

  </script>
</body>
</html>