
<html>
<head>
    <title>Dermatology Scuedule Password Form</title>

    <meta name="description" content="Password form for Emory's Dermatology Scheduler">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="public/stylesheets/bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" href="public/stylesheets/login-form-styles.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:200,300,400' rel='stylesheet' type='text/css'> 
</head>

<body>
    <img src="img/blue-polygon.jpg" id="bg" alt="">

    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-offset-3 pull-left">
                <div class="account-wall">
                    <img class="profile-img pull-left" src="img/Emory_logo.png" alt="">
                    <h3 class="pull-right">WELCOME TO DERM SCHEDJ!!!!</h3>
                    <h3 class="text-center login-title">Please choose a password</h3>

                    <form class="form-signin">

                        <!-- THIS SECTION NEEDS INPUT -->
                        <input type="password" class="form-control" placeholder="Password" required autofocus>
                        <input type="password" class="form-control" placeholder="Confirm Password" required>
                        <a href="" role="button" class="btn btn-lg btn-primary btn-block" type="submit">
                            Submit</a>

                    </form>
                </div>
                
            </div>
        </div>
    </div>
</body>