@(registrationForm: play.data.Form[UnapprovedUser])

@import helper._
<html>
<head>
    <title>Dermatology Schedule Registration Form</title>

    <meta name="description" content="Registration form for Emory's Dermatology Scheduler">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap3/css/bootstrap.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/login-form-styles.css")">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:200,300,400' rel='stylesheet' type='text/css'> 
    <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.gif")" />
</head>

<body>
    <img src="@routes.Assets.at("images/blue-polygon.jpg")" id="bg" alt="">

    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-offset-3 pull-left">
                <div class="account-wall account-wall-register">
                    <h1 class="text-center login-title"></h1>
                    <img class="profile-img pull-left" src="@routes.Assets.at("images/Emory_logo.png")" alt="">
                    <div class="header-text">
                        <h2 class="text-center">Welcome to the Emory</h2>
                        <h2 class="text-center">Department of Dermatology</h2>
                        <h2 class="text-center">Rotation Request Form</h2>
                    </div>
                    <br>

                    <p class="sub-header text-center">Emory and Morehouse medical students and any international applicants must apply through the Emory School of Medicine Dean's office. Please see their website for details.
                    <br><br>
                    Non-Emory visiting medical students must apply through <br>
                    <a href="https://www.aamc.org/students/medstudents/vsas/">VSAS (Visiting Student Application Service)</a>
                    <br><br>
                    Non-Emory residents or fellows interested in rotating with the Emory Department of Dermatology need to call 404-727-3669.  (Please note that in general, June to December is our high season for residency applicants, and we may not be able to accommodate outside requests during that time.)
                    </p>

                    <p class="sub-header text-center">Please register for credentials</p>

                    <div class="form-signin">
                    @form(routes.Application.createUnapprovedUser) {
                        @inputText(registrationForm("firstName"), 
                            'type -> "text",
                            'class -> "form-control",
                            'placeholder -> "First Name",
                            '_label -> null,
                            '_showConstraints -> false)
                       @inputText(registrationForm("lastName"), 
                            'type -> "text",
                            'class -> "form-control",
                            'placeholder -> "Last Name",
                            '_label -> null,
                            '_showConstraints -> false)
                        @inputText(registrationForm("email"), 
                            'type -> "text",
                            'class -> "form-control",
                            'placeholder -> "E-mail",
                            '_label -> null,
                            '_showConstraints -> false)
                        @inputText(registrationForm("phoneNumber"),
                            'type -> "tel",
                            'class -> "form-control",
                            'placeholder -> "Phone Number",
                            '_label -> null,
                            '_showConstraints -> false)
                        @select(registrationForm("department"),
                            options(Seq("Emory Internal Medicine","Morehouse Internal Medicine","Emory Family Medicine","Emory Pediatrics",
                            "Emory Rheumatology", "Emory Allergy ", "Emory Plastic Surgery", "Emory Nurse Practitioner Student", "Emory Physicians Assistant Student", "Other - Please specify below")),
                            '_label -> "Department", '_default -> "Select Department",
                            'class -> "form-control",
                            '_label -> null,
                            '_showConstraints -> false)
                        @inputText(registrationForm("other_department"), 
                            'type -> "text",
                            'class -> "form-control",
                            'placeholder -> "Other Department",
                            '_label -> null,
                            '_showConstraints -> false)
                        <input role="button" class="btn btn-lg btn-primary btn-block" value="Register" type="submit"></input>
                        @if(registrationForm.hasGlobalErrors()) {
                            <p class="text-center"><font color="red">@registrationForm.globalError.message</font></p>
                        }
                        <a href="@routes.Application.login()" class="new-account">Return to login screen</a>
                    }  
           
                    </div>

                </div>
               
            </div>
        </div>
    </div>

    <script>
    (function () {
        var departmentSelector = document.getElementById('department');
        var otherDepartmentInput = document.getElementById('other_department');
        var otherDepartmentContainer = document.getElementById('other_department_field');

        updateOtherDepartmentVisibility();

        departmentSelector.onchange = function () {
            otherDepartmentInput.value = '';
            updateOtherDepartmentVisibility();
        };

        function updateOtherDepartmentVisibility() {
            if (otherDeptIsSelected()) {
                otherDepartmentContainer.style.display = "";
            } else {
                otherDepartmentContainer.style.display = "none";
            }
        }

        function otherDeptIsSelected() {
            return departmentSelector.value.toLowerCase().indexOf("other") === 0;
        }

    })();
    </script>
</body>
