@(passwordForm: play.data.Form[Application.Password], user: User)

@import helper._

<html>
<head>
    <title>Dermatology Schuedule Password Form</title>

    <meta name="description" content="Password form for Emory's Dermatology Scheduler">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap3/css/bootstrap.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/login-form-styles.css")">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:200,300,400' rel='stylesheet' type='text/css'> 
</head>

<body>
    <img src="@routes.Assets.at("images/blue-polygon.jpg")" id="bg" alt="">

    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-offset-3 pull-left">
                <div class="account-wall">
                    <img class="profile-img pull-left" src="@routes.Assets.at("images/Emory_logo.png")" alt="">
                    <div class="header-text">
                        <h2 class="text-center">Welcome to the Emory</h2>
                        <h2 class="text-center">Department of Dermatology</h2>
                        <h2 class="text-center">Rotation Request Form</h2>
                    </div>
                    <p class="sub-header text-center">Welcome @user.firstName @user.lastName!  Please give a new password!</p>
                    
                    @form(routes.Application.changeUserPassword(user.email),
                        'class -> "form-signin") {
                        @inputText(passwordForm("password"), 
                            'type -> "password",
                            'class -> "form-control",
                            'placeholder -> "Password",
                            '_label -> null,
                            '_showConstraints -> false)
                       @inputText(passwordForm("passwordConfirm"), 
                            'type -> "password",
                            'class -> "form-control",
                            'placeholder -> "Confirm password",
                            '_label -> null,
                            '_showConstraints -> false)
                        <input role="button" class="btn btn-lg btn-primary btn-block" value="Submit" type="submit"></input>
                        @if(passwordForm.hasGlobalErrors()) {
                            <p class="text-center"><font color="red">@passwordForm.globalError.message</font></p>
                        }
                        <a href="@routes.Application.login()" class="new-account">Return to login screen</a>
                    }

                </div>
                
            </div>
        </div>
    </div>
</body>