@(learners: java.util.List[models.Learner],
        schedules: Map[String, List[Session]],
		learnerTypeOptions: List[String],
		learnerForm: play.data.Form[Learner.PreLearner])
@import models.Learner.PreLearner

@import helper._
@import java.math.BigInteger; var panelNum = 1

<!DOCTYPE html>
<html>
<head>
	<title>Coordinator: Students</title>

	<meta charset="UTF-8">

	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap3/css/bootstrap.min.css")">
    <!--<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap3/css/bootstrap-theme.min.css")">-->
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/flat-ui.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
	<!--<script type="text/javascript" src="components/bootstrap3/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="components/jquery/jquery.min.js"></script>-->
	<link rel="shortcut icon" href="@routes.Assets.at("images/favicon.gif")" />

</head>
<body>
<div class="container">
	<div class="jumbotron">
		<h1>Students</h1>	
	</div>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<ul class="nav navbar-nav pull-left">
				<li><a href="@routes.Application.index()">Home</a></li>
            	<li class="active"><a href="@routes.CoordinatorController.students()">Students</a></li>
            	<li><a href="@routes.CoordinatorController.viewCoordinatorCalendar()">Schedule</a></li>
         	</ul>
         	<div class="pull-right">
		  		<button onclick="location.href='@routes.Application.logout()';" type="button" class="btn btn-block btn-sm btn-danger btn-logout">Log Out</button>
			</div>
 		</div>
	</nav>
</div>

<div class="studentsSection container">
	<h4>Your Students</h4>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		
		@for((learner, index) <- learners.zipWithIndex) {
		  <div class="panel panel-default">
		  	<div class="panel-heading" role="tab" id="heading@panelNum">
		  		<h4 class="panel-title">
		  			<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse@panelNum" aria-expanded="false" aria-controls="collapse@panelNum">
		  				@learner.firstName @learner.lastName
		  			</a>
		  		</h4>
		    </div>
		    <div id="collapse@panelNum" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading@panelNum">
		    	<div class="panel-body">
		    		<div class="col-md-3 learnerInfo" data-learner-uuid="@learner.uuid">
						<h6 class="student">Name:</h6><p class = "session"><span class="learnerFirstName">@learner.firstName</span> <span class="learnerLastName">@learner.lastName</span></p>
						<h6 class="student">E-mail:</h6><p class = "session learnerEmail">@learner.email</p>
						<h6 class="type">Type:</h6><p class = "session learnerLearnerType">@learner.learnerType</p>
						<br>
						<button type="button" class="btn btn-sm btn-warning editButton">Edit</button>
					</div>

					<div class="col-md-3 editForm" style="display: none">
						<h6 class="student">Name:</h6>
						<div class="learnerInputField">
							<span><input type="text" class="form-control" name="firstName" placeholder="First"></span>
							<span><input type="text" class="form-control" name="lastName" placeholder="Last"></span>
						</div>

						<h6 class="student">E-mail:</h6>
						<div class="learnerInputField"><input type="text" class="form-control" name="email"></div>

						<h6 class="type">Type:</h6>
						<div class="learnerInputField">
							<select type="text" class="form-control" name="learnerType">
								@for(learnerType <- learnerTypeOptions) {
								<option value="@learnerType">@learnerType</option>
								}
								<option value="other">Other - Please specify below</option>
							</select>
							<div class="learnerInputField"><input type="text" class="form-control editOtherLearnerTypeInput" placeholder="Other Learner Type"></div>
						</div>
						<br>
						<button type="button" class="btn btn-sm btn-warning saveButton">Save</button>
						<span class="pull-right editFormErrorMessage"></span>
					</div>

					<div class = "col-md-7">
						<h6>Schedule:</h6>
						<table class="table table-bordered">
							  <tr>
							    <th>Location</th>
							    <th>Physician on Duty</th> 
							    <th>Date</th>
							    <th>Time</th>
							  </tr>
							
                        	@for(sesh <- schedules.get(learner.email)) {
                            
							  <tr>
							    <td>@sesh.title</td>
							    <td>@sesh.physician</td> 
							    <td>@sesh.date</td>
							    <td></td>
							  </tr>
							  }
							</table>
                        
					</div>
					<div class = "col-md-2">
						<button type="button" class="btn btn-sm btn-inverse emailBtn">E-mail Schedule to Student</button>
					</div>
		    	</div>
		    </div>
		</div>
		@(panelNum += 1)
		}
	</div>
	<a class="btn btn-inverse" data-toggle="collapse" href="#createLearnerPanel" aria-expanded="false" aria-controls="createLearnerPanel">
		Add Student
	</a>

	@*
		If the user submitted an invalid form, we want them to see this form immediately.
		So, don't set the class to 'collapse' for the above scenario!
	 *@
	<div class="@(if (learnerForm.hasErrors() || learnerForm.hasGlobalErrors()) "" else "collapse") submitform" id="createLearnerPanel">
		@form(routes.CoordinatorController.createLearner) {
		  @inputText(learnerForm("firstName"),
		      'type -> "text",
		      'class -> "form-control", 
		      'id -> "inputFirstName",
		      'placeholder -> "First Name",
		      '_label -> null,
		      '_showConstraints -> false)
          @inputText(learnerForm("lastName"),
              'type -> "text",
              'class -> "form-control", 
              'id -> "inputLastName",
              'placeholder -> "Last Name",
              '_label -> null,
              '_showConstraints -> false)
          @inputText(learnerForm("email"),
              'type -> "text",
              'class -> "form-control", 
              'id -> "inputEmail",
              'placeholder -> "Email",
              '_label -> null,
              '_showConstraints -> false)
		  @select(learnerForm("learnerType"),
		      options(learnerTypeOptions :+ "Other - Please specify below"),
		      'class -> "form-control",
		      'placeholder -> "Learner Type",
		      '_label -> null,
		  	  '_default -> "Learner Type",
		      '_showConstraints -> false)
		  @inputText(learnerForm("otherLearnerType"),
			  'type -> "text",
			  'class -> "form-control",
			  'placeholder -> "Other Learner Type",
			  '_label -> null,
			  '_showConstraints -> false)
          <input role="button" class="btn btn-inverse" type="submit" value="Submit">
		  @if(learnerForm.hasGlobalErrors()) {
			  <span class="learnerFormError">@learnerForm.globalError().message()</span>
		  }
		}
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

@*
	This javascript is inline so that we can take advantage
	of templating to figure out the PUT route.

	Alternative: use javascript routes
	see (http://stackoverflow.com/questions/11133059/play-2-x-how-to-make-an-ajax-request-with-a-common-button)
*@
<script>

	var learnerTypeSelector = $('#learnerType');
	var otherLearnerTypeContainer = $('#otherLearnerType_field');
	var otherLearnerTypeInput = $('input', otherLearnerTypeContainer);
	configureOtherToggling(
			learnerTypeSelector,
			otherLearnerTypeInput,
			otherLearnerTypeContainer
	);

	$('.editForm' ).each(function () {
		var editLearnerTypeSelector = $('select', this);
		var editOtherLearnerTypeInput = $('.editOtherLearnerTypeInput', this);
		var editOtherLearnerTypeContainer = $('select + div', this);
		configureOtherToggling(
				editLearnerTypeSelector,
				editOtherLearnerTypeInput,
				editOtherLearnerTypeContainer
		);
	});


	function configureOtherToggling(selector, otherInput, otherContainer) {
		selector.on('change', function () {
			otherInput.val('');
			updateVisibilityOfOtherContainer(selector, otherContainer);
		});

		function updateVisibilityOfOtherContainer(selector, otherContainer) {
			if (otherIsSelected(selector)) {
				otherContainer.show();
			} else {
				otherContainer.hide();
			}
		}

		updateVisibilityOfOtherContainer(selector, otherContainer);
	}

	function otherIsSelected(selector) {
		return selector.val( ).toLowerCase( ).indexOf('other') === 0;
	}

	/* So that the user doesn't have to scroll to view the create form */
	$('.submitform' ).on('shown.bs.collapse', function (evt) {
		scrollTo(this);
		setCursorAtFirstInputOf(this);
	});

	function scrollTo(elem) {
		$('html,body' ).animate({
			scrollTop: $(elem ).offset( ).top
		}, 500);
	}

	function setCursorAtFirstInputOf(elem) {
		$('input', elem ).get(0 ).focus();
	}

	$('.editButton').each(function (index, button) {
		$(button).click(function () {
			populateEditFormWithCurrentValues(index);
			hideLearnerInfo(index);
			showEditForm(index);
		});
	});

	$('.saveButton' ).each(function (index, button) {
		$(button ).click(function () {
			sendUpdateLearnerRequest(index);
		});
	});

	function sendUpdateLearnerRequest(index) {
		learnerJson = extractLearnerValuesFromForm(index);
		originalLearnerEmail = extractLearnerValuesFromInfo(index ).email;
		jQuery.ajax({
			type: 'PUT',
			contentType: 'application/json',
			processData: false,
			data: JSON.stringify(learnerJson),
			dataType: 'json',
			url: learnerRouteForUpdate(index),
			success: function (data) {
				updateLearnerInfoWithValues(index, data);
				updateLearnerHeaderWith(index, data.firstName + ' ' + data.lastName);
				displayFormError(null);
				hideEditForm(index);
				showLearnerInfo(index);
			},
			error: function (jqXHR, textStatus, errorThrown) {
				displayFormError(index, jqXHR.responseText);
			}
		});
	}

	function updateLearnerInfoWithValues(index, learnerValues) {
		var infoElem = $('.learnerInfo' ).get(index);

		$('.learnerFirstName', infoElem ).text(learnerValues.firstName);
		$('.learnerLastName', infoElem ).text(learnerValues.lastName);
		$('.learnerEmail', infoElem ).text(learnerValues.email);
		$('.learnerLearnerType', infoElem ).text(learnerValues.learnerType);
	}

	function updateLearnerHeaderWith(index, newName) {
		var panelHeaderElem = $('.panel-heading' ).get(index);
		$('a', panelHeaderElem ).text(newName);
	}

	function populateEditFormWithCurrentValues(index) {
		var formElem = $('.editForm' ).get(index);
		var currentValues = extractLearnerValuesFromInfo(index);

		var inputElems = $('input', formElem );

		$(inputElems[0] ).val(currentValues['firstName']);
		$(inputElems[1] ).val(currentValues['lastName']);
		$(inputElems[2] ).val(currentValues['email']);

		if (learnerTypeOptionsContains(currentValues['learnerType'])) {
			$('select', formElem ).val(currentValues['learnerType']);
		} else {
			$('select', formElem ).val('other' ).change();
			$(inputElems[3] ).val(currentValues['learnerType']);
		}
	}

	function learnerTypeOptionsContains(learnerType) {
		var contains = false;

		$('select' ).first( ).children( ).each(function () {
			if ($(this ).val() === learnerType) {
				contains = true;
			}
		});
		return contains;
	}

	// returns an object, where keys are learner property names
	function extractLearnerValuesFromInfo(index) {
		var infoElem = $('.learnerInfo' ).get(index);
		var learnerValues = {};

		learnerValues.firstName = $('.learnerFirstName', infoElem ).text();
		learnerValues.lastName = $('.learnerLastName', infoElem ).text();
		learnerValues.email = $('.learnerEmail', infoElem ).text();
		learnerValues.learnerType = $('.learnerLearnerType', infoElem ).text();

		return learnerValues;
	}

	function extractLearnerValuesFromForm(index) {
		var formElem = $('.editForm' ).get(index);
		var learnerValues = { };
		var inputElems = $('input', formElem );

		learnerValues.firstName = $(inputElems[0] ).val();
		learnerValues.lastName = $(inputElems[1] ).val();
		learnerValues.email = $(inputElems[2] ).val();

		var learnerTypeSelector = $('select', formElem);
		if (otherIsSelected(learnerTypeSelector)) {
			learnerValues.learnerType = $('.editOtherLearnerTypeInput', formElem ).val();
		} else {
			learnerValues.learnerType = learnerTypeSelector.val();
		}

		return learnerValues;
	}

	function showLearnerInfo(index) {
		var elem = $('.learnerInfo' ).get(index);
		$(elem ).show();
	}

	function hideLearnerInfo(index) {
		var elem = $('.learnerInfo' ).get(index );
		$(elem ).hide();
	}

	function showEditForm(index) {
		var elem = $('.editForm' ).get(index);
		$(elem ).show();
	}

	function hideEditForm(index) {
		var elem = $('.editForm' ).get(index);
		$(elem ).hide();
	}

	function learnerRouteForUpdate(index) {
		var info = $('.learnerInfo' ).get(index);
		var learnerUUID = $(info ).data('learner-uuid');
		return @routes.LearnerController.updateLearner("") + encodeURIComponent(learnerUUID);
	}

	function displayFormError(index, message) {
		var elem = $('.editFormErrorMessage' ).get(index);
		$(elem ).text(message);
	}
</script>
</body>
</html>