@(learners: java.util.List[models.Learner],
        schedules: Map[String, List[Session]],
		learnerTypeOptions: List[String])

@import helper._
@import java.math.BigInteger; var panelNum = 1

<!DOCTYPE html>
<html>
<head>
	<title>Administrator: Students</title>

	<meta charset="UTF-8">

	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap3/css/bootstrap.min.css")">
    <!--<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap3/css/bootstrap-theme.min.css")">-->
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/flat-ui.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
	<!--<script type="text/javascript" src="components/bootstrap3/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="components/jquery/jquery.min.js"></script>-->
	<link rel="shortcut icon" href="@routes.Assets.at("images/favicon.gif")" />

</head>
<body>
<div class="container">
	<div class="jumbotron">
		<h2>Students</h2>	
	</div>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<ul class="nav navbar-nav pull-left">
                <li class="active"><a href="@routes.AdminController.viewAllCoordinators()">Coordinators</a></li>
                <li class="active"><a href="@routes.AdminController.viewLearners()">Students</a></li>
                <li class="active"><a href="@routes.AdminController.viewCalendar()">Schedule</a></li>
                <li class="active"><a href="@routes.TemplateController.templates()">Manage Templates</a></li>
                <li class="active"><a href="@routes.TemplateController.templates()">Support</a></li>
         	</ul>
         	<div class="pull-right">
		  		<button onclick="location.href='@routes.Application.logout()';" type="button" class="btn btn-block btn-sm btn-danger btn-logout">Log Out</button>
			</div>
 		</div>
	</nav>
</div>

<div class="studentsSection container">
	<h4>All Students</h4>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		
		@for(learner <- learners) {
		  <div class="panel panel-default">
		  	<div class="panel-heading" role="tab" id="heading@panelNum">
		  		<h4 class="panel-title">
		  			<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse@panelNum" aria-expanded="false" aria-controls="collapse@panelNum">
		  				@learner.firstName @learner.lastName
		  			</a>
		  		</h4>
		    </div>
		    <div id="collapse@panelNum" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading@panelNum">
		    	<div class="panel-body">
		    		<div class = "col-md-3">
						<h6 class="student">Name:</h6> <p class = "session">@learner.firstName @learner.lastName</p>
						<h6 class="student">E-mail:</h6> <p class = "session">@learner.email</p>
						<h6 class="type">Type:</h6> <p class = "session">@learner.learnerType</p>
						<h6 class="coordinator">Coordinator:</h6> <p class = "session">@learner.ownerEmail</p>
					</div>
					<div class = "col-md-7">
						<h6>Schedule:</h6>
                        <table class="table table-bordered">
                              <tr>
                                <th>Location</th>
                                <th>Physician on Duty</th> 
                                <th>Date</th>
                                <th>Time</th>
                              </tr>
                            
                            @for(sesh <- schedules.get(learner.email)) {
                            
                              <tr>
                                <td>@sesh.title</td>
                                <td>@sesh.physician</td> 
                                <td>@sesh.date.format("dd MMM")</td>
                                @if(sesh.isAM) {
                                 <td>AM</td>
                                } else {
                                 <td>PM</td>
                                }
                              </tr>
                              }
                            </table>
                        
					</div>

					<div class = "col-md-2">
					@form(routes.AdminController.emailLearnerSchedule(learner.uuid)) {
                        <button type="submit" class="btn btn-sm btn-inverse pull-right">E-mail Schedule to Student</button>
                    }
                    @form(routes.AdminController.deleteLearner(learner.uuid)) {
						<button type="submit" class="btn btn-sm btn-danger pull-right">Delete Student</button>
					}

					</div>
		    	</div>
		    </div>
		</div>
		@(panelNum += 1)
		}
	</div>
		<div class="inline btn-space-sm">
			<a class="btn btn-inverse" href="@routes.AdminController.removeLearnersAndGiveCSV">

				Export and Delete Students
			</a>
		</div>
		<div class="inline">
			@form(routes.AdminController.emailAllStudents()) {
				<button type="submit" class="btn btn-inverse">Email All Students</button>
			}
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
	$('.learnerDeleteButton' ).on('click', function () {
		var learnerUUID = $(this ).data('learner-uuid');
		var panelToRemove = $(this ).closest('.panel');
		makeAjaxDeleteCall(learnerUUID, panelToRemove);
	});

	function makeAjaxDeleteCall(learnerUUID, panelToRemove) {
		$.ajax({
			type: 'DELETE',
			url: routeForDelete(learnerUUID),
			success: function () {
				console.log(panelToRemove);
				$(panelToRemove ).remove();
			}
		});
	}

	function routeForDelete(learnerUUID) {
		return '@routes.LearnerController.ajaxDeleteLearner("")' + encodeURIComponent(learnerUUID);
	}

</script>

</body>
</html>