@(learners: java.util.List[models.Learner],
        schedules: Map[String, List[Session]],
		learnerTypeOptions: List[String])

@import helper._
@import java.math.BigInteger; var panelNum = 1

<!DOCTYPE html>
<html>
<head>
	<title>Administrator: Students</title>

	<meta charset="UTF-8">

	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap3/css/bootstrap.min.css")">
    <!--<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap3/css/bootstrap-theme.min.css")">-->
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/flat-ui.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
	<!--<script type="text/javascript" src="components/bootstrap3/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="components/jquery/jquery.min.js"></script>-->
	<link rel="shortcut icon" href="@routes.Assets.at("images/favicon.gif")" />

</head>
<body>
<div class="container">
	<div class="jumbotron">
		<h2>Students</h2>	
	</div>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<ul class="nav navbar-nav pull-left">
                <li class="active"><a href="@routes.AdminController.viewAllCoordinators()">Coordinators</a></li>
                <li class="active"><a href="@routes.AdminController.viewLearners()">Students</a></li>
                <li class="active"><a href="@routes.AdminController.viewCalendar()">Schedule</a></li>
                <li class="active"><a href="@routes.TemplateController.templates()">Manage Templates</a></li>
                <li class="active"><a href="@routes.TemplateController.templates()">Support</a></li>
         	</ul>
         	<div class="pull-right">
		  		<button onclick="location.href='@routes.Application.logout()';" type="button" class="btn btn-block btn-sm btn-danger btn-logout">Log Out</button>
			</div>
 		</div>
	</nav>
</div>

<div class="studentsSection container">
	<h4>All Students</h4>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		
		@for(learner <- learners) {
		  <div class="panel panel-default">
		  	<div class="panel-heading" role="tab" id="heading@panelNum">
		  		<h4 class="panel-title">
		  			<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse@panelNum" aria-expanded="false" aria-controls="collapse@panelNum">
		  				@learner.firstName @learner.lastName
		  			</a>
		  		</h4>
		    </div>
		    <div id="collapse@panelNum" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading@panelNum">
		    	<div class="panel-body">
		    		<div class = "col-md-3">
						<h6 class="student">Name:</h6> <p class = "session">@learner.firstName @learner.lastName</p>
						<h6 class="student">E-mail:</h6> <p class = "session">@learner.email</p>
						<h6 class="type">Type:</h6> <p class = "session">@learner.learnerType</p>
						<h6 class="coordinator">Coordinator:</h6> <p class = "session">@learner.ownerEmail</p>
					</div>
					<div class = "col-md-7">
						<h6>Schedule:</h6>
                        <table class="table table-bordered">
                              <tr>
                                <th>Location</th>
                                <th>Physician on Duty</th> 
                                <th>Date</th>
                                <th>Time</th>
                              </tr>
                            
                            @for(sesh <- schedules.get(learner.email)) {
                            
                              <tr>
                                <td>@sesh.title</td>
                                <td>@sesh.physician</td> 
                                <td>@sesh.date.format("dd MMM")</td>
                                @if(sesh.isAM) {
                                 <td>AM</td>
                                } else {
                                 <td>PM</td>
                                }
                              </tr>
                              }
                            </table>
                        
					</div>

					<div class = "col-md-2">
					@form(routes.AdminController.emailLearnerSchedule(learner.uuid)) {
                        <button type="submit" class="btn btn-sm btn-inverse pull-right btn-space-bottom" type="submit" data-toggle="modal" data-target="#EmailModal">E-mail Schedule to Student</button>
                    }
					<button class="btn btn-sm btn-danger pull-right" data-learner-uuid="@learner.uuid" data-toggle="modal" data-target="#DeleteStudentModal">Delete Student</button>

					</div>
		    	</div>
		    </div>
		</div>
		@(panelNum += 1)
		}
	</div>
	<div>
		<div class="inline btn-space-sm">
			<button class="btn btn-inverse" data-toggle="modal" data-target="#ExportDeleteAllModal">Export and Delete Students</button>
		</div>
		<div class="inline">
			<button class="btn btn-inverse" data-toggle="modal" data-target="#EmailAllModal">Email All Students</button>
		</div>
	</div>
</div>

<!-- EMAIL SINGLE STUDENT MODAL -->
<div id="EmailModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			  <h4 class="modal-title">Student Emailed!</h4>
			</div>
			<div class="modal-body">
			  <p class="modalBody">This student has been sent an email with their schedule.</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-inverse pull-right" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>

<!-- DELETE SINGLE STUDENT MODAL -->
<div id="DeleteStudentModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			  <h4 class="modal-title">Delete Student?</h4>
			</div>
			<div class="modal-body">
			  <p class="modalBody">Are you sure you would like to delete this student?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-space-sm btn-inverse pull-right" data-dismiss="modal">Cancel</button>
				<button class="btn btn-space-sm btn-inverse pull-right confirm-btn" data-dismiss="modal">Confirm</button>
			</div>
		</div>
	</div>
</div>

<!-- EXPORT AND DELETE ALL STUDENTS MODAL -->
<div id="ExportDeleteAllModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			  <h4 class="modal-title">Export and Delete All Students?</h4>
			</div>
			<div class="modal-body">
			  <p class="modalBody">Are you sure you would like to export and delete all students?  This will not delete students who have not completed their half-day sessions.</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-space-sm btn-inverse pull-right cancel-btn" data-dismiss="modal">Cancel</button>
				<button class="btn btn-space-sm btn-inverse pull-right confirm-btn" data-dismiss="modal">Confirm</button>
			</div>
		</div>
	</div>
</div>

<!-- EMAIL ALL STUDENTS MODAL -->
<div id="EmailAllModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			  <h4 class="modal-title">Email All Students?</h4>
			</div>
			<div class="modal-body">
			  <p class="modalBody">Are you sure you would like to email all students their schedule?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-space-sm btn-inverse pull-right" data-dismiss="modal">Cancel</button>
				<button class="btn btn-space-sm btn-inverse pull-right confirm-btn">Confirm</button>
			</div>
		</div>
	</div>
</div>

@*
	Use a hidden form here to download the file because we cannot submit
	a form GET and dismiss a modal at the same time.
*@
<div id="ExportDeleteAllFormContainer">
	@form(routes.AdminController.removeLearnersAndGiveCSV()) {
	}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
	var deleteStudentModal = $('#DeleteStudentModal');
	var exportDeleteAllModal = $('#ExportDeleteAllModal');
	var emailAllModal = $('#EmailAllModal');

	deleteStudentModal.on('show.bs.modal', function (evt) {
		$(this ).data('clicked-delete-btn', $(evt.relatedTarget));
	});

	$('.confirm-btn', deleteStudentModal).click(function () {
		var deleteButton = deleteStudentModal.data('clicked-delete-btn');
		var learnerUUID = deleteButton.data('learner-uuid');
		var panelToRemove = deleteButton.closest('.panel');
		deleteStudentModal.modal('hide');
		ajaxDeleteLearner(learnerUUID, panelToRemove);
	});

	$('.confirm-btn', emailAllModal ).click(function () {
		emailAllModal.modal('hide');
		ajaxEmailAll();
	});

	$('.confirm-btn', exportDeleteAllModal ).click(function () {
		exportDeleteAllModal.data('confirmed', true);
	});

	exportDeleteAllModal.on('hidden.bs.modal', function () {
		if (exportDeleteAllModal.data('confirmed')) {
			$('#ExportDeleteAllFormContainer form' ).submit();
		}
		exportDeleteAllModal.data('confirmed', false);
	});

	function ajaxDeleteLearner(learnerUUID, panelToRemove) {
		$.ajax({
			type: 'DELETE',
			url: routeForDelete(learnerUUID),
			success: function () {
				$(panelToRemove ).remove();
			}
		});
	}

	function ajaxEmailAll() {
		$.ajax({
			type: 'POST',
			url: routeForEmailAll()
		});
	}

	function routeForDelete(learnerUUID) {
		return '@routes.LearnerController.ajaxDeleteLearner("")' + encodeURIComponent(learnerUUID);
	}

	function routeForEmailAll() {
		return '@routes.AdminController.emailAllStudents';
	}

</script>

</body>
</html>