<!doctype html>
<html>

  <head>
    <title>Database Table :)</title>
    <link rel="stylesheet" href="bootstrap.min.css">
  </head>

  <body>

    <h3>Database, yo</h3>

    <table width="60%" class="table table-bordered">

      <thead>
        <tr>
          <th>Name</th>
          <th>Another heading</th>
          <th>Something else</th>
          <th>Jessica is great</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Put stuff here yeah</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>

    </table>

</body>
</html>
