@(allUnapproved: List[UnapprovedUser])

@import helper._

<html>
    
    <ul>
    @for(user <- allUnapproved) {
        <li>
            @user.firstName
            @user.lastName
            @user.email
            @user.token
            
            @form(routes.AdminController.removeUnapprovedUser(user.email)) {
                <input type="submit" value="Delete"></input>
            }
            @form(routes.AdminController.approveUnapprovedUser(user.email)) {
                <input type="submit" value="Approve"></input>
            }
        </li>
        
    }
    </ul>

</html>