@(passwordForm: play.data.Form[Application.Password], user: UnapprovedUser)

@import helper._

<html>
    
    <p>
    Welcome @user.firstName @user.lastName!  Please give a password and then you're done!
    </p>
    @form(routes.Application.addNewUser(user.email)) {
        @inputText(passwordForm("password"))
        @inputText(passwordForm("passwordConfirm"))
        <input type="submit" value="Submit"></input>
        
        @if(passwordForm.hasGlobalErrors) {
            <p>Error</p>
        }
    }

</html>